<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BobbyList - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mdb.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bobbylist.css') }}">
</head>
<body class="dualcolorbackground" style="font-family: 'HelveticaNeueThin'">
    <div class="full-bg-img flex-center white-text relative_position" style="padding-top: 5%">
        <div class="animated fadeInUp homediv">
            <div class="col-lg-4" style="height: 100%">
                <h2>Hi, Bharath</h2>
                <div class="col-lg-12" style="border: 2px solid #514A9D;">
                    <div class="col-lg-4">
                        <img src="{{ url_for('static', filename='imgs/bobbylist_schedule_meeting.png') }}">
                    </div>
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
            <div class="col-lg-7" style="height: 100%;background: blue">

            </div>
            <div class="col-lg-1" style="height: 100%;background: pink">

            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>
</body>
</html>